<style>
    article.card {
        margin-top: 20px;
        transition: box-shadow 0.3s;
        color: #333;
    }

    article:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2)
    }

    article .btn {
        font-weight: bold;
    }
</style>

<main class="main">
    <div class="d-flex justify-content-between">
        <h3 class="font-weight-bold">Articles list</h3>
        <%= link_to "Create new article", new_article_path, class:"btn btn-outline-dark" %>
    </div>

    <%= render partial: "article", collection: @articles, as: :article %>
</main>