<style>
    article.card {
        margin-top: 20px;
        transition: box-shadow 0.3s;
        color: #333;
    }

    article:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2)
    }

    article .btn {
        font-weight: bold;
    }
</style>

<main class="main">
    <h3 class="page-title font-weight-bold">Articles list</h3>
    <% @articles.each do |article| %>
        <article class="card">
            <div class="card-body d-flex justify-content-between align-items-center">
                <span class="font-weight-bold"><%= article.title %></span> 
                <div>
                    <a class="btn btn-outline-success" href="<%= request.base_url + '/articles/' + article.id.to_s %>">Show</a>
                    <a class="btn btn-outline-info" href="<%= request.base_url + '/articles/' + article.id.to_s + '/edit' %>">Edit</a>
                    <%= link_to 'Delete', article_path(article), method: :delete, data:{confirm:"Are you sure?"}, class: "btn btn-outline-danger" %>
                </div>
            </div>
        </article>
    <% end %>
</main>