<h1 class="header">Alpha blog</h1>
<nav class="nav">
  <a class="action-button outline-dark" href="<%= request.base_url %>/articles">Back to articles list</a>
</nav>

<main class="main">
  <h3 class="page-title">Create a new article</h3>

  <%= render 'form' %>
</main>