
<style>
    section.article {
        display: flex;
        justify-content: center;
    }
    div.card {
        max-width: 1024px;
    }
</style>

<main class="main">

    <section class="article">
        <div class="card w-100">
            <div class="card-body">
                <h2><%= @article.title %></h2>
                <hr/>
                <p><strong><%= @article.description %></strong></p>
            </div>
        </div>
    </section>

</main>